@import url("https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap");

body {
  background-color: bisque;
}
a,
p,
ul,
ol,
h1,
h2 {
  font-family: "Zen Kurenaido", sans-serif;
  text-align: center;
  font-size: larger;
  text-decoration: none;
}

div {
  text-align: center;
}

div a {
  text-decoration: underline;
}

a {
  color: black;
}

h2 {
  font-size: x-large;
}

h1 {
  font-size: 70px;
  margin: 30px;
}

ol,
ul,
p {
  text-align: left;
  margin-left: 30%;
  margin-right: 30%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  width: 40%;
}

.recipe-list {
  margin-bottom: 30px;
}
